/* Dit programma wordt door index.html voor de vormgeving gebruikt.
	Program	: index.css
	Datum		: 01-07-2016 
*/


.merk {
	
    /*color: orange;*/
    color: black;
    font-size:110%;
    text-align: center;
    clear: both;
    padding-top: 25px;
    margin-bottom: 25px;
}

.lijn {
    margin-left:2%;
    margin-right: 2%;
    color: black;
}

#footer {
     width: 100%;
    /*float: left;
    display: inline;*/ 
    margin-left: 15px;  
    margin-top:80px;
    height: 25px;
    font-size: 14px;
    background-color: #f5f5f0;
    /*background-color: rgb(60, 60, 60);*/
}


#footer, .push {
  width: 98%;
  height: 75px;
  clear: both;
}

ul#footerNav li {
	float: left;
	display: inline;
	margin-left:20%;             
	padding-top: 15px;
	color:yellow;
}

.adres1 {
    margin-left: 250px;
    margin-bottom: 15px;
}

#ftr-xperiment {
     float: left;
    display: inline;
}


.adres {
    float: left;
    font-weight: bold;
    color: black;
}

.adresR {
   /*color: #66a3ff;*/
   color: #5c5c3d;
}


span.text  {
    color: red;
}

div.info {
    background-color: yellow;
    padding: 5px;
    display: none;
}

span.text:hover + div.info {
    display: block;
}


/*{
	padding:0;
	margin :0;
}*/

.profkop, .naarProfiel {
    text-align: center;
}

.profiel {
    margin-top : 5px;
    margin-bottom : 20px;
}

ul.prof li {
    padding:15px;
    font-size : 18px;
    color:purple;
   list-style-type:none;
}

h4.foutMelding {
	margin-left:30%;
	color: red;
}


h3.pf {
    color:#663d00;
    text-decoration:underline;
}

aside.meer {
   /* text-align: center;*/
    margin-left: 25%;
    background-color:#d2ff4d;
    width:50%;
}

h2.welkom {
    color:#cc7a00;
    text-decoration: underline;
    text-align: center;
}

body{ 
    text-align: center; /* toegevoegd op ma 3 okt 2016    */
    min-width: 1300px; /* toegevoegd op ma 3 okt 2016    */
    margin-top: 80px;
   /* margin-left: 10px;
    margin-right: 10px;*/
    /*background-color: #e6e6e6;*/	/* border:	2px solid red; */	
}

 /****** toegevoegd op ma 3 oktober 2016  ***********/
#contentwrapper {
    width: 1200px;
    margin: 0 auto;   
    text-align: left;           
}
/*****  einde toevoeging van ma 3 oktober 2016 ********/


/*#contentwrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -610px;
}*/

h1.slider {
	font-weight: 400;
}

h1 {
	text-align : center;
}
article{
	border : 3px solid black;
}
.page-artical{
	border	:	3px solid green;
}
/***Pesoonlijke gegevens***/
#persoonlijke-gegevens{
	margin-bottom : 2px;
	
	width : 100%;
	/* height : 450px; */
}
#personalia{
	float :left;
	padding : 10px 10px;
	/* margin-left: 10px; */
	width	:	50%;
/* 	height	:	325px; */
	border	:	1px solid black;
	font-size : 12px;
	margin-bottom : 25px;
}

#postcode #email #salaris {
    width: 70%;
}

/* reisafstand  */

#inlogMelding {
    width : 50%;
    text-align : center;
    
}
.afstand {

    margin-bottom: -40px;
}


#sociale_media{
        float : right;
        /*margin-top : 10px;*/
        width : 40%;
        /* heigth : 325px; */
        border : 1px solid black;
        padding : 10px;
       /* margin-left : -50px;*/
}

#sociaal_foto, #cv-upload{
	
        float: right;
        margin-left : 25px;
        margin-bottom: 25px;
        width : 45%;
}

#fotoMelding{   
        font-size: 10px;
        color : red;
} 

#foto {
        margin-left : 6px;
        float : left;
        margin-bottom : 25px;
}

#cv {
        margin-left : 1px;
        margin-bottom : 25px;
        /*width: 400px;*/
        float : left;
}

.objP {
    color : red;
}

#myImg {
    float: left;
    width: 125px;
    height: 100px;
}

#myCV {
    float : left;
    width : 100px;
    height : 100px;
}

.subKopRechts {
    float: right;
}


.kop{
	font-size : 11px;
	color : blue;
	font-weight : bold;
	
}

#functies{
	clear : both;
                float : left;
	width : 100%;
	padding : 5px;
	border : 1px solid black;
	margin-bottom : 20px;
	font-size : 12px;
	
}

#mobielFinUitkering{
	/* margin-bottom : 25px;
	 */
        clear : both;
	width : 100%;
	height : 200px;
        margin-bottom : 10px;
	/* border : 1px solid black; */
}
#mobielFinancieel{
	float : left;
	padding : 10px 5px;
	/* margin: 10px; */
	width	:	35%;
/* 	height	:	325px; */
	border	:	1px solid black;
	
	font-size : 12px;
} 

#sectorwerk{
	float : right;
	
	width : 60%;
        margin-left : 15px;
	margin-bottom : 25px;
	/*border : 1px solid black;*/
}

#sector{
	border : 1px solid black; 
	margin-bottom : 10px;
	
}

#bedrijf{
	border : 1px solid black; 
	
	
}

.sectorErvaring{
    font-size : 10px;
}

#regio{
	clear : both;
	width : 100%;
        height : 250px;
                /*padding: 25px 0 80px 15px;*/ 
                /*padding-top: 15px;
	padding-bottom : 80px;
                padding-left: 15px;*/
       
	border : 1px solid black;
	margin-top : 5px;
        margin-bottom : 25px;
	font-size : 12px;
	
}

label {
	font-size : small;
	padding-left : 15px;
}


.extra1 {
     padding: 15px;
    margin-left: 20px;
}

.checkbox-inline {
    padding: 15px;
    margin-left: 20px;
}

.checkbox {
	float :right;
}

#sociale-links{
	float		:	right;
	width		:	300px;
	height	:	220px;
	border : 3px solid yellow;	
}
#sociale-links #media{
	margin-top: 65px;
	width		: 285px;
	padding	: 5px 0 10px 10px;
	border	: 1px solid black;
	font-family	: verdana;
}
#media legend{
	color: #999;
	font-weight: bold;
	padding: 4px 6px 4px 0;
	margin: 0 0 5px 0;
	font-size: 0.8em;
}

#media label{
	width	:	90px;
	float	: 	left;
	padding: 2px 0 0 0;
}
#media	input{
	margin	: 2px 0 7px 0;
	padding	: 1px 3px 2px 3px; /*1023*/
	border	: 1px solid #000;
	background-color: transparent;
	width		: 200px;
}

#auto{
    margin-bottom : 40px;
}

#rijbewijs {
    margin-bottom : 30px;
}
.ervaringSlider {
	display : none;
        margin-bottom : 10px;
}



.functieVak1 {
    width : 40%;
    
    float : left;
    margin-right : 50px;
    
}

.functieVak2 {
    width : 40%;
    float : left;
    
    /*border : 1px solid black;*/
}

/***Aanvullende voorzieningen***/
.voorziening{
	width		:	800px;
	height	:	200px;
	border	: 3px solid green;
}
#mobiliteit #mobiel{
	float		: left;
	width		: 300px;
	padding	: 5px 0 10px 10px;
	border	: 1px solid black;
	font-family	: verdana;
}
#mobiliteit legend{
	color: #999;
	font-weight: bold;
	padding: 4px 6px 4px 0;
	margin: 0 0 5px 0;
	font-size: 0.8em;
}

#mobiliteit label{
	width	:	90px;
	float	: 	left;
	padding: 2px 0 0 0;
}
#mobiliteit	input{
	margin	: 2px 0 7px 0;
	padding	: 1px 3px 2px 3px; /*1023*/
	border	: 1px solid #000;
	background-color: transparent;
	width		: 200px;
}

#aanvulling #tekstVeld{
	float		:	right;
	width 	:	400px;
	height	:	180px;
}


/***De grootte van het bedrijf***/
#bedrijf-grootte{
	width		:	800px;
	height	:	 50px;
	border	:	3px solid green;
}
/***Gewenste functie plaatsen***/

.plaatspref {
    margin-top: 10px;
    
    clear : both;
    
}


/***Opmerkingen***/
#opmerkingSection{
	width : 100%;
	/*margin-top : 10px;*/
	margin-bottom : 26px;
/* 	border : 1px solid black; */
}

#opslaan{
	margin-top : 50px;
	float : right;
}

/* .navbar-inverse { */
   
    /*background-image: linear-gradient(to bottom,#ffffff,#ffb72a 100%); */ /*oranje kleur*/
   /* margin-top:0px;
     opacity: 0.9;
     background-color: #f5f5f0;
     height: 10%;
}*/
   
   
/***************************************************************/
/* onderstaande css toegevoegd op zaterdag 24 sept 2016, een experiment met de logo  */
td.human {
    padding-bottom:  15px;
}

span.logoL {
    font-size: 90%;
    font-weight: 600;
    color:orange;
}

span.logoR {
    font-size: 90%;
    font-weight: 600;
    color:blue;    
}

/*div#logoDynamisch {
    width: 140px;
    height: 35px;
    display: inline;
}*/

ul#middenstuk li {
    margin-top:0.0px;
    padding-top: 0px;
}

ul.logoM {
    padding-left: 0px;
    padding-bottom:0px;
}

ul.logoM li {
    list-style-type:none;
    display: block;
}

span.ic {
    font-weight: 600;
    margin-left: 4px;
    color: #9999ff;
}   
/*  Einde experiment met de logo */
/***************************************************************/


/******Onderstaande css heet effect op de navigatie balk *****************/
div#navbarpullright {
	height: 52px;
}

#inuitBlok {
    margin-top: 1%;
}

ul#navItems li a:active { 
    background-color: red;
}

#navBalk {
    background-color: #003366; /* kleur van de navigatiebalk */
    /*background-color: black; */
    opacity: 0.9;
    height: 75px;
}

ul#navItems li a {
    margin-left: 20px;
    font-size: 90%;
    color: white;
}
/*********Einde css dat effect heeft op de navigatie balk ***************/    
    

/* onderstaande css heeft effect op de registratie data in en is gebruikt in de functie handleAanmeldForm(humanic-functions.php) */
/* toegevoegd op di 6 sept. Ron dit mag je wat opmaak betreft ook aanpassen, mij ging het op de postionering */
.berichtAcc { 
       /*text-align: center;*/
       color: red;
       margin-left: 35%;
       margin-top: 20%;
       margin-bottom:20%;
}

#regInfo {
    float: left;
    margin-left: 28%;
    padding-top: 35px;
    padding-bottom: 35px;
    width:45%;
    clear: both;
}

h4.regdata{
    text-align: center;
    color: black;
}

h5.regdata {
    font-weight: bold;
    text-align: center;
    color: black;
    background-color:#f2ffcc;
}

.gegevens{
    color: black;
    padding: 10px;
    border: 1px solid #C9E5F3;
    background-color: #e6e6ff;
    float: left;
    margin-left:45%;
}
/************** einde van de css die effect heeft op de registratie data *************/


.reg {
    color: #ff9900;
}

tr.login {
     margin: 25px;
}

section#loginblok, section#aanmeldblok, section#wachtwoord {
    margin-left: 35%;
    margin-top: 15%;
}

section#loginblok h3 {
   
   color: purple;
}

table#login {  
    
    color: black;
}

/*input#login {
     background-image: #e6e6ff;
     border: 1px solid #996600;
    color: #777;
    padding-bottom: -20px;
}*/

input#login {
     background-color: #e6e6ff;
     border: 1px solid #996600;
    color: #777;
    padding: 5px;
    padding-bottom: -20px;
    margin-right: 10px;
}

div#inlognaam {
    margin-top: -15px;
    margin-right: -15px;
}

a.regsinds {
   /* color: #777769;*/
   color: white;
    text-decoration: none;
    font-size: 12px;
}


a.inlognm {
    /* color: #777769;*/
    /* font-size: 20px;*/
    text-decoration: none;
    color: white;
}

.button{
	background-color: transparent;
	color: #000;
	font-weight: bold;
	width: auto;
	margin: 0 5px 0px 0;
	padding: 1px 5px 2px 5px;
	cursor: pointer;
	float: right;
               
}


#submit {
    margin-right : 5px;
    width:120px;
}

#inlogMelding {
    width : 80%;
    margin-left : center;
    font-size : 18px;
    padding : 5px;
}

#why {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-top: 6%;
    color: #ef7d1a;
    padding: 10px;
}

h2.homeP {
	color: gold;
}


/* de volgende css is noozakelijk voor het functioneren van de dropdown menu*/

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;
    margin: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff5cc;
    /* color: #333; */
    white-space: nowrap;
    background-color:#AA771A;
    /*background-color: #ffffcc;*/
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #AA771A;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
background-image: linear-gradient(to bottom,#222 0,#282828 100%) !important;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
    color: #FFF;
}
/* einde css voor dropdown menu */