/* Deze programma wordt door index.html voor de voorgeving gebruikt.
	Program	: index.css
	Datum		: 01-07-2016 
*/


.merk {
	
    color: orange;
	font-size:110%;
	text-align: center;
	clear: both;
	padding-top: 25px;
	margin-bottom: 15px;
}

ul#footerNav li {
	float: left;
	display: inline;
	margin-left:20%;
	padding-top: 15px;
	color:yellow;
}

#footer {
     width: 100%;
    /*float: left;
    display: inline;*/ 
	margin-left: 15px;  
	margin-top:80px;
    height: 25px;
    font-size: 14px;
    background-color: rgb(60, 60, 60);
}


#footer, .push {
  width: 98%;
  height: 160px;
  clear: both;
}

span.text  {
    color: red;
}

div.info {
    background-color: yellow;
    padding: 5px;
    display: none;
}

span.text:hover + div.info {
    display: block;
}


*{
	padding:0;
	margin :0;
}

.profkop, .naarProfiel {
    text-align: center;
}

.profiel {
    margin-top : 5 px;
    margin-bottom : 20px;
}

ul.prof li {
    padding:15px;
    font-size : 18px;
    color:purple;
   list-style-type:none;
}
h4.foutMelding {
	margin-left:30%;
	color: red;
}

h3.pf {
    color:#663d00;
    text-decoration:underline;
}

aside.meer {
   /* text-align: center;*/
    margin-left: 25%;
    background-color:#d2ff4d;
    width:50%;
}

h2.welkom {
    color:#cc7a00;
    text-decoration: underline;
    text-align: center;
}

body{
	/* border:	2px solid red; */
	
}

#contentwrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -610px;
}


h1 {
	text-align : center;
}
article{
	border : 3px solid black;
}
.page-artical{
	border	:	3px solid green;
}
/***Pesoonlijke gegevens***/
#persoonlijke-gegevens{
	margin-bottom : 2px;
	
	width : 100%;
	/* height : 450px; */
}
#personalia{
	float :left;
	padding : 10px 10px;
	/* margin-left: 10px; */
	width	:	50%;
/* 	height	:	325px; */
	border	:	1px solid black;
	font-size : 12px;
	margin-bottom : 25px;
}

#postcode #email #salaris {
    width: 70%;
}

/* reisafstand  */

#inlogMelding {
    width : 50%;
    margin-left : center;
    
}
.afstand {

    margin-bottom: -40px;
}


#sociale_media{
        float : right;
        /*margin-top : 10px;*/
        width : 40%;
        /* heigth : 325px; */
        border : 1px solid black;
        padding : 10px;
       /* margin-left : -50px;*/
}

#sociaal_foto, #cv-upload{
	
        float: right;
        margin-left : 25px;
        margin-bottom: 25px;
        width : 45%;
}

#fotoMelding{   
        font-size: 10px;
        color : red;
} 

#foto {
        margin-left : 6px;
        float : left;
        margin-bottom : 25px;
}

#cv {
        margin-left : 1px;
        margin-bottom : 25px;
        /*width: 400px;*/
        float : left;
}

.objP {
    color : red;
}

#myImg {
    float: left;
    width: 125px;
    height: 100px;
}

#myCV {
    float : left;
    width : 100px;
    height : 100px;
}

.subKopRechts {
    float: right;
}


.kop{
	font-size : 11px;
	color : blue;
	font-weight : bold;
	
}

#functies{
	clear : both;
                float : left;
	width : 100%;
	padding : 5px;
	border : 1px solid black;
	margin-bottom : 20px;
	font-size : 12px;
	
}

#mobielFinUitkering{
	/* margin-bottom : 25px;
	 */
        clear : both;
	width : 100%;
	/*height : 200px; */
        margin-bottom : 10px;
	/* border : 1px solid black; */
}
#mobielFinancieel{
	float : left;
	padding : 10px 5px;
	/* margin: 10px; */
	width	:	35%;
/* 	height	:	325px; */
	border	:	1px solid black;
	
	font-size : 12px;
} 

#sectorwerk{
	float : right;
	
	width : 60%;
        margin-left : 15px;
	margin-bottom : 25px;
	/*border : 1px solid black;*/
}

#sector{
	border : 1px solid black; 
	margin-bottom : 10px;
	
}

#bedrijf{
	border : 1px solid black; 
	
	
}

.sectorErvaring{
    font-size : 10px;
}

#regio{
	clear : both;
	width : 100%;
       /* height : 250px; */
                /*padding: 25px 0 80px 15px;*/ 
                /*padding-top: 15px;
	padding-bottom : 80px;
                padding-left: 15px;*/
       
	border : 1px solid black;
	margin-top : 5px;
        margin-bottom : 25px;
	font-size : 12px;
	
}

label {
	font-size : small;
	padding-left : 15px;
}


.extra1 {
     padding: 15px;
    margin-left: 20px;
}

.checkbox-inline {
    padding: 15px;
    margin-left: 20px;
}

.checkbox {
	float :right;
}

#sociale-links{
	float		:	right;
	width		:	300px;
	height	:	220px;
	border : 3px solid yellow;	
}
#sociale-links #media{
	margin-top: 65px;
	width		: 285px;
	padding	: 5px 0 10px 10px;
	border	: 1px solid black;
	font-family	: verdana;
}
#media legend{
	color: #999;
	font-weight: bold;
	padding: 4px 6px 4px 0;
	margin: 0 0 5px 0;
	font-size: 0.8em;
}

#media label{
	width	:	90px;
	float	: 	left;
	padding: 2px 0 0 0;
}
#media	input{
	margin	: 2px 0 7px 0;
	padding	: 1px 3px 2px 3px; /*1023*/
	border	: 1px solid #000;
	background-color: transparent;
	width		: 200px;
}

#auto{
    margin-bottom : 40px;
}

#rijbewijs {
    margin-bottom : 30px;
}
.ervaringSlider {
	display : none;
        margin-bottom : 10px;
}



.functieVak1 {
    width : 40%;
    
    float : left;
    margin-right : 50px;
    
}

.functieVak2 {
    width : 40%;
    float : left;
    
    /*border : 1px solid black;*/
}

/***Aanvullende voorzieningen***/
.voorziening{
	width		:	800px;
	height	:	200px;
	border	: 3px solid green;
}
#mobiliteit #mobiel{
	float		: left;
	width		: 300px;
	padding	: 5px 0 10px 10px;
	border	: 1px solid black;
	font-family	: verdana;
}
#mobiliteit legend{
	color: #999;
	font-weight: bold;
	padding: 4px 6px 4px 0;
	margin: 0 0 5px 0;
	font-size: 0.8em;
}

#mobiliteit label{
	width	:	90px;
	float	: 	left;
	padding: 2px 0 0 0;
}
#mobiliteit	input{
	margin	: 2px 0 7px 0;
	padding	: 1px 3px 2px 3px; /*1023*/
	border	: 1px solid #000;
	background-color: transparent;
	width		: 200px;
}

#aanvulling #tekstVeld{
	float		:	right;
	width 	:	400px;
	height	:	180px;
}


/***De grootte van het bedrijf***/
#bedrijf-grootte{
	width		:	800px;
	height	:	 50px;
	border	:	3px solid green;
}
/***Gewenste functie plaatsen***/

.plaatspref {
    margin-top: 10px;
    
    clear : both;
    
}


/***Opmerkingen***/
#opmerkingSection{
	width : 100%;
	/*margin-top : 10px;*/
	margin-bottom : 26px;
/* 	border : 1px solid black; */
}

#opslaan{
	margin-top : 50px;
	float : right;
}

div#navbarpullright {
    /*height: 52px;*/
	height: 20px;
}

.reg {
    color: #ff9900;
}

tr.login {
     margin: 25px;
}

section#loginblok, section#aanmeldblok, section#wachtwoord {
    margin-left: 35%;
}

section#loginblok h3 {
   
   color: purple;
}

table#login {  
    
    color: black;
}


input#login {
    /*background-image: linear-gradient(to bottom,#FFCC99 0,#ffb72a 100%);*/
	background-image: #e6e6ff;
    border: 1px solid #996600;
    /*color: #777; */
	color: black;
    padding: 12px;
    margin: 2px-5px 0px 0px;
}

.button{
	background-color: transparent;
	color: #000;
	font-weight: bold;
	width: auto;
	margin: 0 5px 0 0;
	padding: 1px 5px 2px 5px;
	cursor: pointer;
	float: right;
}

#submit {
    margin-right : 5px;
    width:120px;
}

#inlogMelding {
    width : 80%;
    margin-left : center;
    font-size : 18px;
    padding : 5px;
}

/* de volgende css is noozakelijk voor het functioneren van de dropdown menu*/


ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;
    margin: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff5cc;
    /* color: #333; */
    white-space: nowrap;
    /*background-color:#AA771A;*/
    backgrounhd-color: #ffffcc;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #AA771A;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
background-image: linear-gradient(to bottom,#222 0,#282828 100%) !important;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
    color: #FFF;
}